**/.git
**/.gitignore
**/.superpowers
**/bin
**/obj
**/node_modules
**/.vs
**/.vscode
**/Docs
**/HotSite
**/Finort.Tests
**/*.md
**/.env
**/docker-compose*.yml
**/setup.key
**/database.settings.json
**/finort.db
**/finort.db-shm
**/finort.db-wal
